/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}



section {
    max-width: 50%
}


.text {
    color: #000000;
    padding: 10px;
    padding-bottom: 15px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 2rem;
    box-sizing: border-box;
    flex: 1 1 0;
}

.text h2 {
    text-align:left;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    padding: 5px;
    color: #000000;
    flex: 1 1 0;
}


#cougar {
    background: #FFD5AE;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}

#lion {
    background: #FFBD82;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}
#tiger {
    background: #B26219;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}
header {
    background: #666;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li{
    margin: 0;
    margin-left: 1rem;
    font-size: 1.5rem;

}

footer {
    font-family: sans-serif;
    background: #666;
    padding: 20px;
    text-align: center;

}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a:visited {
    color: #379CB2;
}
a:focus{
    color: #FFFBFD;
}
a:hover {
    color: #82E8FF;
